<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="600" style="width: 600px; border-collapse: collapse; font-family: Calibri, Arial, sans-serif;">
  <tbody>
    <tr>
      <td
        width="600"
        height="280"
        background="https://meanwell.business/sign_images/bgc.png"
        style="width: 600px; height: 280px; padding: 0; vertical-align: top; background-color: #ffffff; background-image: url('https://meanwell.business/sign_images/bgc.png'); background-position: center; background-repeat: no-repeat; background-size: 600px 280px;"
      >
        <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="600" style="width: 600px; height: 280px; border-collapse: collapse;">
          <tbody>
            <tr>
              <td height="42" colspan="2" style="height: 42px; font-size: 0; line-height: 0;">&nbsp;</td>
            </tr>
            <tr>
              <td width="46" style="width: 46px; font-size: 0; line-height: 0;">&nbsp;</td>
              <td style="padding: 0; vertical-align: top;">
                <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tbody>
                    <tr>
                      <td width="4" height="24" style="width: 4px; height: 24px; background-color: #36a656; font-size: 0; line-height: 0;">&nbsp;</td>
                      <td style="padding: 0 0 0 12px; color: #111111; font-size: 19px; line-height: 24px; font-weight: 700; white-space: nowrap;">
                        MEAN WELL KULON TEAM
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td height="26" colspan="2" style="height: 26px; font-size: 0; line-height: 0;">&nbsp;</td>
            </tr>
            <tr>
              <td width="62" style="width: 62px; font-size: 0; line-height: 0;">&nbsp;</td>
              <td style="padding: 0; vertical-align: top;">
                <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; color: #4d565c; font-size: 13px; line-height: 20px;">
                  <tbody>
                    <tr>
                      <td width="58" style="width: 58px; padding: 0; color: #4d565c; font-weight: 700;">Email</td>
                      <td style="padding: 0;">
                        <a href="mailto:marketing@kulon.com" style="color: #288f49; font-weight: 600; text-decoration: none;">marketing@kulon.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="58" style="width: 58px; padding: 0; color: #4d565c; font-weight: 700;">Website</td>
                      <td style="padding: 0;">
                        <a href="https://meanwell-led.com/" target="_blank" style="color: #288f49; font-weight: 600; text-decoration: none;">meanwell-led.com</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td height="148" colspan="2" style="height: 148px; font-size: 0; line-height: 0;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
